.env
node_modules/
public/uploads/*
!public/uploads/category-icon-star-and-crescent-solid.png
!public/uploads/category-icon-tree-solid.png
!public/uploads/category-icon-water-solid.png
!public/uploads/category-icon-user-tie-solid.png
!public/uploads/category-icon-users-solid.png
!public/uploads/category-icon-fist-raised-solid.png
!public/uploads/category-icon-medkit-solid.png
!public/uploads/category-icon-building-solid.png
!public/uploads/category-icon-money-check-alt-solid.png
!public/uploads/category-icon-desktop-solid.png
!public/uploads/category-icon-hands-solid.png
!public/uploads/category-icon-running-solid.png
!public/uploads/category-icon-route-solid.png
!public/uploads/category-icon-briefcase-solid.png
!public/uploads/category-icon-exclamation-triangle-solid.png
!public/uploads/category-icon-city-solid.png
!public/uploads/category-icon-graduation-cap-solid.png
!public/uploads/category-icon-store-solid.png
!public/uploads/category-icon-wallet-solid.png
!public/uploads/category-icon-handshake-solid.png
!public/uploads/category-icon-lightbulb-solid.png
!public/uploads/category-icon-book-open-solid.png
!public/uploads/category-icon-gripfire-brands.png
!public/uploads/category-icon-share-alt-solid.png
!public/uploads/organization-photo-for-seeder.jpg
!public/uploads/dataset-attachment-for-seeder.csv
!public/uploads/infographic-banner-for-seeder.jpeg
!public/uploads/visualization-thumbnail-for-seeder.jpeg
src/logs/*
!src/logs/example.log